* {
    margin: 0;
    padding: 0
}

*:focus {
    outline: none;
}

html, body {
    -webkit-font-smoothing: antialiased;
    background-color: orange;
}

p {
	margin: 10px;
}

div.justified {
    display: flex;
  	align-items: center;
  	justify-content: center;
}

textarea.maz {
	padding: 40px;
	margin: 10px;
    width: 80vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 100;
    font-size: 30px;
    background-color: orange;
}

