* {
    margin: 0;
    padding: 0
}

*:focus {
    outline: none;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

textarea {
    width:80vw;
    border: 0px;
	font-family: arial, sans-serif;
    font-weight: 100;
    font-size: 2em;
    margin: 40px;
}

a.dots {
    cursor: pointer;
    font-size: 6em;
    display: flex;
    width: 1em;
    color: orange;
}

img, video {
    margin: 40px;
    max-width: calc(100% - 80px);
}

.notice {
    position: fixed;
    margin: 40px;
    width: 80px;
    right: 0;
    top: 0;
    font-family: arial, sans-serif;
    color: orange;
    text-align: right;
}





